body {
  background-color: #8c8c93;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-image: url('/assets/img/Sans_titre-1.png');
}

.topnav #myLinks {
  display: none;
}

.topnav #myLinks a {
  text-decoration: none;
  color: black;
  padding: 10% 10%;
  display: flex;
  font-size: 150%;
  text-align: center;
}

.topnav #myLinks a:hover {
  background-color: grey;
}

.topnav {
  position: -webkit-sticky;
  position: fixed;
  width: 25%;
  height: 100vh;
  transition: 250ms;
  top: 0px;
  margin: 0;
}

nav img:hover {
  transform: scale(1.1);
  transition: 500ms;
}

nav img {
  transition: 500ms;
}

.linkWrapper {
  height: 100%;
  display: flex;
}

.menuIcon {
  position: 'fixed';
  height: 10vh;
  width: 10vh;
  margin: 20px;
}

.container {
  margin-top: 300px;
  height: 40%;
  width: 100%;
}

.cardContainer {
  height: 100%;
  width: 100%;
  display: flex;
  margin-left: 25%;
}

.card {
  background-color: wheat;
  border-radius: 10px;
  text-align: center;
  width: 20vh;
  height: 25vh;
  margin: 5%;
}

html{
  height: 100vh;
}

@media (max-width: 1200px) {

  .cardContainer {
    flex-direction: column;
    margin-left: 40%;
  }
  
  .container{
    margin-top: 0;
  }

  .card{
    justify-content: center;
    margin: 3%;
  }
}