body {
  background-color: rgb(67, 190, 228);
}

.card {
  margin: 20% 12% 0% 12%;
  background-color: rgb(208, 255, 0);
  padding: 100px;
  border-radius: 10px;
}

p {
  text-align: center;
  font-size: 22px;
}
